.App {
    text-align: center;
  }
  
  .App-logo {
    height: 80px;
  }
  
  .App-header {
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-header h2{
    color:#A61C1C;
  }
  #App-intro {
    font-size: large;
  }
  
  input[type=text],.form-group.row.form-input{
    width:270px;
  }
  .custom-select{
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #464a4c;
    vertical-align: middle;
    -webkit-background-size: 8px 10px;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .form-control-label {
    padding: 1rem;
  }
  img{
    width:59px;
    height:64px ;
  }
  #form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  }
  
  .light-gray-def{
    color: #aeaeae;
  }
  
  .anim-appear {
    opacity: 0.01;
  }
   
  .anim-appear.anim-appear-active{
    opacity: 2;
    transition: opacity 5s ease-in;
  }